.App {
  padding-left: 10em;
  padding-top: 2em;
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  /*
  display: flex;
  flex-direction: column;
  */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
