.App {
  padding: 4em;
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  /*
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  */
  color: white;
  display: flex;
  height: 100%;
}

.App-modules {
  display: inline-block;
  width: 20%;
}

.App-functions {
  float: right;
  width: 40%;
}

.App-editor {
  float: right;
  width: 40%;
}

.CodeEditor {
  width: 90%;
  height: 90%;
  margin: 1em;
}

.ItemSelected {
  cursor: pointer;
}

.ItemDeselected {
  color: gray;
  cursor: pointer;
}
