.App {
  padding: 4em;
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  /*
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  */
  color: white;
  display: flex;
  height: 100%;
}

.App-modules {
  margin: 1em
}

.left {
  display: inline-block;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.CodeEditor {
  width: 90%;
  height: 90%;
  margin: 1em;
}
