.App {
  padding: 4em;
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  /*
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  */
  color: white;
}

.App-container {
  display: flex;
  justify-content: center;
}

.App-modules {
  width: 20%;
  border-color: skyblue;
  border-width: 1px;
  border-style: solid;
  padding: 1em;
  margin-right: 1em;
}

.App-functions {
  width: 40%;
  border-color: skyblue;
  border-width: 1px;
  border-style: solid;
  padding: 1em;
  margin-right: 1em;
}

.App-editor {
  width: 40%;
  border-color: skyblue;
  border-width: 1px;
  border-style: solid;
  padding: 1em;
}

.CodeEditor-textarea {
  width: 90%;
  min-height: 200px;
  background-color: #282830;
  color: lightgray;
  margin: auto;
  padding: 10px;
  font-family: "Courier New", Consolas, monospace;
  tab-size: 2;
}

.ItemSelected {
  cursor: pointer;
}

.ItemDeselected {
  color: gray;
  cursor: pointer;
}

.NewItem-nonactive {
  border-style: solid;
  border-width: 1px;
  padding: 4px;
  cursor: pointer;
  font-family: "Courier New", Consolas, monospace;
  font-size: 20px;
  text-align: center;
}

.NewItem-input {
  width: 90%;
  margin: 1px;
}

.NewItem-input-error {
  width: 90%;
  margin: 1px;
  background-color: lightpink;
}

.NewItem-button {
  width: 45%;
  margin: 1px;
}

.ListItem {
  padding: 4px;
  margin: 2px;
  background-color: lightslategray;
}

.ListItem-selected {
  padding: 4px;
  margin: 2px;
  background-color: lightslategray;
  border-style: solid;
  border-color: sandybrown;
  border-width: 2px;
}

.ListItem-delete:hover {
  color: sandybrown;
}
